 /* General Rule for CSS is to use the following code and modify as needed:
        selector {
        property: value;
        }     */
        
h1 {
    color: red;
}
li{
    color: green;
}
h4 {
    color: purple;
}