*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    border: 20px solid #bdc3c7;
    width: 60%;
    padding: 50px;
    margin: 20px auto;
    background-color: white;
}

.date{
    font-weight: 400;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0;
}

.blog-title{
    text-transform: capitalize;
    margin-top: 5px;
}

.blog-image{
    border-radius: 4px;
    width: 100%;
    height: auto;

}
.blockquote{
    border-left: 8px solid #bdc3c7;
    padding-left: 10px;
    border-radius: 4px;
}
hr{
    border: 0.5px solid #f5f5f5;
    margin: 25px 0;
}